body {
    background-color: lightgrey;
    background-image: url("../images/background-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
p {
    font-weight: bold;
}