body {
    background-color: lightgrey;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  p {
      font-weight: bold;
  }

  .text-center {
      text-align: center;
  }